*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.quiniela{
    margin: auto;
    background-image: url("MS9.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 400px;
    border-radius: 10px;

}


.botonera{
    margin-top: 3%;
    width: 100%;
}

@media (max-width: 400px){
    .botonera {
        /*margin-top: 2vh;*/
    }
}

.aux{
    background-color: rgba(165, 42, 42, 0);
    width: 100%;
    height: 13.5%;
    padding-top: 2.5%;
}
.aux h3{
    width: 9%;
    padding-top: 5px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.288);
}
.aux h3 ion-icon{
    display: table-row-group;
}


.quiniela span{
    width: 10.6%;
    display: inline-flex;
    -webkit-transition:background-color 0.3s ease;
   -moz-transition:background-color 0.3s ease;
   -o-transition:background-color 0.3s ease;
   transition:background-color 0.3s ease;  
}

#_{
    background-color: rgba(128, 255, 0, 0);
    width: 34.1%;
    height: 100%;
    display: inline-flex;
}


.partido{
    display: flex;
    height: 6.85%;
    width: 100%;
}

body{
    max-width: 400px;
    margin: auto;
    background-color: rgb(5, 5, 5);
    background-image: url("fondo10.png");
    background-repeat: repeat-y;
    background-position: top;
}

  

h1{
    background-color: teal;
    text-align: center;
    padding: 7px;
    color: rgb(16, 16, 16);
    margin-top: 6%;
    /* border: solid 1px black; */
    border-radius: 0 0 14px 14px;
    background: -webkit-linear-gradient(0.04turn, rgb(11, 122, 250)  ,rgb(2, 105, 248) 80%);
    background: linear-gradient(0.04turn, rgb(5, 68, 255)  ,rgb(247, 249, 245) 80%);
    font-size: x-large;
}

h2,h3{
    background:  linear-gradient(0,  rgb(50, 243, 50) 20%, #03c31a 90%);
    text-align: center;
    padding: 12px 20px 12px 0;
    margin-right: 6px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgb(251, 251, 251);
    font-size: large;
    cursor: pointer;
}


#nombretext{
    color: gray;
    font-size: 9px;
    text-align: center;
    padding: 2px 0 0 2px;
    
}

#botonlisto{
    background: linear-gradient(0,  rgb(154, 63, 7) 20%, rgb(207, 120, 50)); 
    padding: 8px;
    border-radius: 15px;
    padding-top: 10px;
    font-size: x-large;
    cursor: pointer;
}

#botonborrar{
    background:  linear-gradient(0,  rgba(250, 2, 2, 0.738) 20%, rgb(247, 20, 20) 90%);
    border-radius: 15px;
    padding-top: 10px;
    padding: 8px;
    font-size: x-large;
    cursor: pointer;
}

#nombrebox{
    border-collapse: collapse;
    background:  linear-gradient(0,  rgb(220, 220, 220) 20%, rgb(255, 255, 255) 90%);
    text-align: center;
    border-radius: 6px;
    box-shadow: 2px 2px 5px black;
   

}

#nombre{
    background:transparent;
    display: inline-block;
    width: 100%;
    border: none;
    text-align: center;
    padding-bottom: 5px;
    margin: 0 0 2px 2px;
    outline: none;
}


#ultimonombre{
    margin-left: 11%;
    height: 17px;
    box-shadow: 1px 1px black;
}

#random{
    background:  linear-gradient(0,  rgb(248, 248, 2) 20%, rgb(227, 247, 4) 90%);
    border-radius: 4px;
    padding: 3px 25%;
    font-size: small;
    box-shadow: 1px 1px 3px black;
    font-weight: bold;
    cursor: pointer;
}

#checkcombinaciones{
    height: 25px;
    background: rgba(24, 4, 246, 0.975);  
    border-radius: 4px;
    padding: 2px 5px;
    font-size: small;
    box-shadow: 1px 1px 3px black;
    text-align: center;
    border: solid 1px #777777;
    color: #ffffff;
    cursor: pointer; 
    -webkit-transition:background-color 0.3s ease;
    -moz-transition:background-color 0.3s ease;
    -o-transition:background-color 0.3s ease;
    transition:background-color 0.3s ease;
}

/*#undo{
    float: right;
    background:  linear-gradient(0,  rgb(250, 200, 200) 20%, rgb(255, 255, 255) 90%);
    border-radius: 4px;
    padding: 2px;
}*/


p{
    padding: 10px;
}

#display{
    border: solid black 2px;
    width: 100%;
    background-color: rgb(255, 255, 240);
    border-radius: 5px;
    text-align: left;
    padding: 5px 0px;
    margin: 15px 0;
    table-layout: fixed;   
}

/*.cellname{
    font-size: small;
    overflow: scroll;
    border: none;
}*/




#display td{
    border-right: 1px solid rgba(0, 0, 0, 0.218);
    text-align: center;
}


h4{
    float: left;
    display: contents;
    text-align: center;
}

h6{
    display: inline;
}

#total{
    display: inline-block;
    float: right;
    margin-top: 0;
    background-color: rgba(250, 250, 250, 0.989);
    padding: 0 2px;
    border-radius: 3px;
}

#costo, #numquinielas{
    color: rgba(11, 15, 0, 0.753);
    background-color: rgba(252, 249, 249, 0.999);
    display:inline;
    padding: 0 2px;
    border-radius: 3px;
}
.reglas {
    background: #eee204;
    border-radius: 10px;
    border: 1px solid rgb(13, 13, 13);
    font-size: 13px;
    padding-left: 10px;
    box-shadow: 2px 2px 2px #f5f3f3;
    color: black;
}

#bolsa{
    color:white;
    text-align: center;
    font-weight: bolder;
    margin: auto;
    text-shadow: 1px 1px 5px black;
}
